<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="southday.mnrmp.mapper.MnrmpUserPraisesTMapper" >
    <!-- 插入用户点赞记录 -->
    <select id="insertPraiseRecord" parameterType="southday.mnrmp.po.MnrmpQueryParameter" resultType="java.lang.Boolean">
        CALL proc_praise_video(#{userId}, #{videoId})
    </select>
</mapper>
