<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="southday.mnrmp.mapper.MnrmpVideosTMapper" >
	<resultMap type="southday.mnrmp.po.MnrmpVideosT" id="video_resultmap">
		<id column="video_id" property="videoId" />
		<result column="video_title" property="videoTitle" />
		<result column="video_name" property="videoName" />
		<result column="status_code" property="statusCode" />
		<result column="upload_date" property="uploadDate" />
		<result column="catalog_id" property="catalogId" />
		<result column="praised_num" property="praisedNum" />
		<result column="download_num" property="downloadNum" />
		<result column="collected_num" property="collectedNum" />
		<result column="intro" property="intro" />
		<result column="miniature_name" property="miniatureName" />
		<result column="privacy_code" property="privacyCode" />
		<result column="see_password" property="seePassword" />
	</resultMap>
	
	<resultMap type="southday.mnrmp.po.MnrmpVideoEx" id="videoex_resultmap" extends="video_resultmap">
		<result column="manager_id" property="managerId" />
		<result column="user_name" property="userName" />
		<result column="description" property="description" />
	</resultMap>
	
	<sql id="query_video_privacy_foreach">
	    <if test="privacyCodes!=null">
	        <foreach collection="privacyCodes" item="privacyCode" open="AND privacy_code IN (" close=")" separator=",">
	            #{privacyCode}
	        </foreach>
	    </if>
	</sql>

	<sql id="query_video_status_foreach">
	    <if test="statusCodes!=null">
	        <foreach collection="statusCodes" item="statusCode" open="AND status_code IN (" close=")" separator=",">
	            #{statusCode}
	        </foreach>
	    </if>
	</sql>
	
	<!-- 根据video_id查询视频详细信息，包括用户名称-->
	<!-- 程序一通用，就意味着效率要低下 -->
	<select id="findVideoExById" parameterType="southday.mnrmp.po.MnrmpQueryParameter" resultMap="videoex_resultmap">
		SELECT  video_id, video_title, video_name, mvt.user_id, user_name, upload_date, praised_num,
				download_num, collected_num, intro, miniature_name, privacy_code
		FROM (mnrmp_videos_t mvt NATURAL JOIN mnrmp_users_t) NATURAL JOIN mnrmp_manager_audits_t mmat
		<where>
	        video_id = #{videoId}
	        <if test="userId!=null">
	        	AND mvt.user_id = #{userId}
	        </if>
	        <if test="managerId!=null">
	        	AND mmat.manager_id = #{managerId}
	        </if>
	        <include refid="query_video_privacy_foreach"></include>
	        <include refid="query_video_status_foreach"></include>
    	</where>
	</select>
	
	<!-- 根据id查询视频详细信息 -->
	<select id="findVideoById" parameterType="java.lang.Integer" resultMap="video_resultmap">
		SELECT  video_id, video_title, video_name, status_code, upload_date, catalog_id,
				praised_num, download_num, collected_num, intro, miniature_name, privacy_code, see_password
		FROM mnrmp_videos_t
		WHERE video_id = #{videoId}
	</select>
	
	<!-- 调用存储过程将数据插入到视频表和审核记录表中 -->
	<select id="insertVideoAndAuditRecord" parameterType="southday.mnrmp.po.MnrmpVideoEx" resultMap="southday.mnrmp.mapper.MnrmpProcReturnValueMapper.proc_return_resultmap">
		CALL proc_upload_video(
			#{videoTitle}, #{videoName}, #{userId}, #{catalogId}, #{intro},
			#{miniatureName}, #{privacyCode}, #{seePassword}, #{managerId})
	</select>
	
	<!-- 首页查询视频信息，具体根据查询参数类来确定要获取哪些记录 -->
	<select id="findHomePageVideoRecord" parameterType="southday.mnrmp.po.MnrmpQueryParameter" resultMap="video_resultmap">
		SELECT DISTINCT mvt.video_id, video_title, miniature_name, intro, upload_date, praised_num
		FROM mnrmp_videos_t mvt, mnrmp_video_category_t mvct
		<where>
			mvt.video_id = mvct.video_id
			AND privacy_code IN ('PUBLIC', 'ENCRYPTION')
			AND status_code = 'ACCEPTED'
			<if test="categoryCode!=null and categoryCode!=''">
				AND category_code = #{categoryCode}
			</if>
			<include refid="query_video_where_foreach"></include>	
		</where>
		ORDER BY upload_date DESC, praised_num DESC
		LIMIT #{startRecordNo}, #{selectRecordNum}
	</select>
	
	<!-- 获取首页视频信息，在满足查询条件下的记录总数 -->
	<select id="findHomePageVideoTotalRecordNum" parameterType="southday.mnrmp.po.MnrmpQueryParameter" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM (SELECT DISTINCT mvt.video_id
			 FROM mnrmp_videos_t mvt, mnrmp_video_category_t mvct
			<where>
				mvt.video_id = mvct.video_id
				AND privacy_code IN ('PUBLIC', 'ENCRYPTION')
				AND status_code = 'ACCEPTED'
				<if test="categoryCode!=null and categoryCode!=''">
					AND category_code = #{categoryCode}
				</if>
				<include refid="query_video_where_foreach"></include>	
			</where>) T
	</select>
	
	<!-- 搜索视频时的查询条件sql片段 -->
	<sql id="query_video_where_foreach">
		<if test="searchKeywords!=null">
			<foreach collection="searchKeywords" item="searchKeyword" open="AND (" close=")" separator="OR">
				video_title LIKE '%${searchKeyword}%'
			</foreach>
		</if>
	</sql>
	
	<!-- 根据上传者id和审核状态来查询视频信息 -->
	<select id="findVideoByUserIdStatusCode" parameterType="southday.mnrmp.po.MnrmpQueryParameter" resultMap="video_resultmap">
		SELECT  video_id, video_title, video_name, miniature_name,
				upload_date, status_code, privacy_code, intro, description
		FROM mnrmp_videos_t NATURAL JOIN mnrmp_manager_audits_t
		<where>
			user_id = #{userId}
			<if test="statusCode!=null and statusCode!=''">
				AND status_code = #{statusCode}
			</if>
			<include refid="query_video_where_foreach"></include>
		</where>
		LIMIT #{startRecordNo}, #{selectRecordNum}
	</select>
	
	<!-- 根据查询条件查询满足查询条件的上传记录总数 -->
	<select id="findUploadVideoTotalRecordNum" parameterType="southday.mnrmp.po.MnrmpQueryParameter" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM (SELECT audit_id
			FROM mnrmp_videos_t NATURAL JOIN mnrmp_manager_audits_t
			<where>
				user_id = #{userId}
				<if test="statusCode!=null and statusCode!=''">
					AND status_code = #{statusCode}	
				</if>
				<include refid="query_video_where_foreach"></include>
			</where>) T
	</select>
	
	<!-- 根据用户id和视频id删除某个用户上传且已被拒绝的视频 -->
	<select id="deleteRefusedVideo" parameterType="southday.mnrmp.po.MnrmpQueryParameter" resultMap="southday.mnrmp.mapper.MnrmpProcReturnValueMapper.proc_return_resultmap">
		CALL proc_delete_refused_video(#{videoId}, #{userId})
	</select>
	
	<!-- 根据用户id，搜索关键字等查询用户的下载记录 -->
	<select id="findDownloadRecord" parameterType="southday.mnrmp.po.MnrmpQueryParameter" resultMap="video_resultmap">
		SELECT  mvt.video_id, video_title, video_name, miniature_name,
				upload_date, download_date
		FROM mnrmp_videos_t mvt, mnrmp_user_downloads_t mudt
		<where>
			mvt.video_id = mudt.video_id
			AND mudt.user_id = #{userId}
			<include refid="query_video_where_foreach"></include>
		</where>
		LIMIT #{startRecordNo}, #{selectRecordNum}
	</select>
	
	<!-- 根据用户id，搜索关键字等查询用户下载的总记录数 -->
	<select id="findDownloadTotalRecordNum" parameterType="southday.mnrmp.po.MnrmpQueryParameter" resultType="java.lang.Integer">
		SELECT COUNT(download_id)
		FROM mnrmp_videos_t mvt, mnrmp_user_downloads_t mudt
		<where>
			mvt.video_id = mudt.video_id
			AND mudt.user_id = #{userId}
			<include refid="query_video_where_foreach"></include>
		</where>
	</select>
	
	<!-- 根据用户id，搜索关键字等查询用户的收藏记录 -->
	<select id="findCollectRecord" parameterType="southday.mnrmp.po.MnrmpQueryParameter" resultMap="video_resultmap">
		SELECT  mvt.video_id, video_title, video_name, miniature_name,
		   		upload_date, collect_date, intro
		FROM mnrmp_videos_t mvt, mnrmp_user_collects_t muct
		<where>
			mvt.video_id = muct.video_id
			AND muct.user_id = #{userId}
			<include refid="query_video_where_foreach"></include>
		</where>
		LIMIT #{startRecordNo}, #{selectRecordNum}
	</select>
	
	<!-- 根据用户id，搜索关键字等查询条件查询用户收藏总记录数  -->
	<select id="findCollectTotalRecordNum" parameterType="southday.mnrmp.po.MnrmpQueryParameter" resultType="java.lang.Integer">
		SELECT COUNT(collect_id)
		FROM mnrmp_videos_t mvt, mnrmp_user_collects_t muct
		<where>
			mvt.video_id = muct.video_id
			AND muct.user_id = #{userId}
			<include refid="query_video_where_foreach"></include>
		</where>
	</select>
	
	<!-- 根据用户id，搜索关键字等查询用户的点赞记录 -->
	<select id="findPraiseRecord" parameterType="southday.mnrmp.po.MnrmpQueryParameter" resultMap="video_resultmap">
		SELECT  mvt.video_id, video_title, video_name, miniature_name,
		   		upload_date, praise_date 
		FROM mnrmp_videos_t mvt, mnrmp_user_praises_t mupt
		<where>
			mvt.video_id = mupt.video_id
			AND mupt.user_id = #{userId}
			<include refid="query_video_where_foreach"></include>
		</where>
		LIMIT #{startRecordNo}, #{selectRecordNum}
	</select>
	
	<!-- 根据用户id，搜索关键字等查询条件查询用户点赞总记录数  -->
	<select id="findPraiseTotalRecordNum" parameterType="southday.mnrmp.po.MnrmpQueryParameter" resultType="java.lang.Integer">
		SELECT COUNT(praise_id)
		FROM mnrmp_videos_t mvt, mnrmp_user_praises_t mupt
		<where>
			mvt.video_id = mupt.video_id
			AND mupt.user_id = #{userId}
			<include refid="query_video_where_foreach"></include>
		</where>
	</select>
	
	<!-- 查询某个用户的某个目录且仅是当前目录(不包含递归子目录)下的视频信息 -->
	<sql id="query_video_just_cur_catalog">
		((SELECT mvt.video_id, video_title, video_name, miniature_name, upload_date,
					status_code, privacy_code, description
		 FROM mnrmp_videos_t mvt NATURAL JOIN mnrmp_manager_audits_t mmadt
		 WHERE mvt.catalog_id = #{catalogId}
		 AND mvt.user_id = #{userId})
		UNION
		(SELECT mvt.video_id, video_title, video_name, miniature_name, upload_date,
				status_code, privacy_code, description
		 FROM (mnrmp_videos_t mvt NATURAL JOIN mnrmp_manager_audits_t mmadt), mnrmp_user_collects_t muct
		 WHERE mvt.video_id = muct.video_id
		 AND muct.catalog_id = #{catalogId}
		 AND mvt.user_id = #{userId})) T
	</sql>
	
	<!-- 查询某个用户的某个目录且仅是当前目录(不包含递归子目录)下的视频信息 -->
	<select id="findVideoRecordJustCurCatalog" parameterType="southday.mnrmp.po.MnrmpQueryParameter" resultMap="videoex_resultmap">
		SELECT  video_id, video_title, video_name, miniature_name, upload_date,
	   			status_code, privacy_code, description
		FROM <include refid="query_video_just_cur_catalog"></include>
		<where>
			<include refid="query_video_where_foreach"></include>
		</where>
		LIMIT #{startRecordNo}, #{selectRecordNum};
	</select>
	
	<!-- 查询某个用户的某个目录且仅是当前目录(不包含递归子目录)下视频信息的总记录数 -->
	<select id="findVideoTotalRecordNumJustCurCatalog" parameterType="southday.mnrmp.po.MnrmpQueryParameter" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM <include refid="query_video_just_cur_catalog"></include>
		<where>
			<include refid="query_video_where_foreach"></include>
		</where>
	</select>
	
	<!-- 查询某个用户的某个目录下的视频信息 -->
	<sql id="query_video_in_someone_catalog">
		((SELECT mvt.video_id, video_title, video_name, miniature_name, upload_date,
					status_code, privacy_code, description
		 FROM mnrmp_videos_t mvt NATURAL JOIN mnrmp_manager_audits_t mmadt
		 WHERE mvt.catalog_id IN (SELECT catalog_id
								  FROM mnrmp_catalogs_t
								  WHERE user_id = #{userId}
								  AND FIND_IN_SET(catalog_id, func_get_child_catalogids(#{catalogId}))))
		UNION
		(SELECT mvt.video_id, video_title, video_name, miniature_name, upload_date,
				status_code, privacy_code, description
		 FROM (mnrmp_videos_t mvt NATURAL JOIN mnrmp_manager_audits_t mmadt), mnrmp_user_collects_t muct
		 WHERE mvt.video_id = muct.video_id
		 AND muct.catalog_id IN (SELECT catalog_id
								FROM mnrmp_catalogs_t
								WHERE user_id = #{userId}
								AND FIND_IN_SET(catalog_id, func_get_child_catalogids(#{catalogId}))))) T
	</sql>
	
	<!-- 查询某个用户的某个视频目录下的视频信息(含分页和搜索条件) -->
	<select id="findVideoRecordInSomeOneCatalog" parameterType="southday.mnrmp.po.MnrmpQueryParameter" resultMap="videoex_resultmap">
		SELECT  video_id, video_title, video_name, miniature_name, upload_date,
	   			status_code, privacy_code, description
		FROM <include refid="query_video_in_someone_catalog"></include>
		<where>
			<include refid="query_video_where_foreach"></include>
		</where>
		LIMIT #{startRecordNo}, #{selectRecordNum};
	</select>
	
	<!-- 查询某个用户的某个目录下满足查询条件的视频信息总数 -->
	<select id="findVideoTotalRecordNumInSomeOneCatalog" parameterType="southday.mnrmp.po.MnrmpQueryParameter" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM <include refid="query_video_in_someone_catalog"></include>
		<where>
			<include refid="query_video_where_foreach"></include>
		</where>
	</select>
	
	<!-- 视频文件移动 -->
  	<select id="updateVideoSite" parameterType="southday.mnrmp.po.MnrmpVideosT" resultType="java.lang.Boolean">
  		CALL proc_move_video(#{userId}, #{videoId}, #{catalogId})
  	</select>
</mapper>